.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 90vw;
  max-width: 50em;
  margin: -4vw auto 0;
}

.tile {
  display: flex;
  border: 1px solid black;
  background-color:rgb(204, 172, 145);
  border-radius: 0.25em;
}

.board .tile {
  position: relative;
}

.pad {
  display: flex;
  position: relative;
}

.hand {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.hand .tile {
  width: 20vw;
  max-width: 9em;
  border-radius: 0.5em;
  background-color: rgb(243, 178, 12);
  grid-column: span 2;
}
.hand .tile svg {
  transition-duration: 0.5s;
  transition-property: transform;
}
.board .target svg {
  transition-duration: 0.5s;
  transition-property: transform;
}

.choice {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.choice .tile:hover {
 box-shadow: 0 0 5px;
}

.East {
  transform: rotate(-270deg);
}
.South {
  transform: rotate(-180deg);
}
.West {
  transform: rotate(-90deg);
}

.played {
  background-color: rgb(243, 178, 12);
}

.title {
  text-align: center;
  font-family: monospace;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.subtitle {
  text-align: center;
  font-family: monospace;
  padding-top: 0;
  margin-top: -7vw;
}

.token {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -10px;
  margin-left: -10px;
  z-index: 1;
}