body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#logo {
  display: grid;
  width: 45em;
  max-width: 90vw;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1vw;
  height: 6em;
  margin: 0 auto;
}

.content {
  margin-top: 1em;
}

form {
  display: inline-flex;
  margin-bottom: 1em;
}

.error {
  color: red;
  display: block;
}

input {
  display: inline-block;
  padding: 1em;
}

#hasAuth, #notAuth {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  min-width: 50vw;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.nav > button {
  padding: 1em;
}

#loginForm, #registerForm {
  display: none;
}

#notAuth form {
  flex-flow: column nowrap;
}

#hasAuth input[type="submit"] {
  width: 100%;
}

#hasAuth input[type="text"] {
  text-transform: uppercase;
  text-align: center;
}