#lobby {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding-top: 1em;
}

#lobby td {
  padding: 0.5em 0;
}

#lobby form {
  display: inline-block;
}

#lobby > .host {
  display: flex;
  flex-flow: column nowrap;
  /* align-items: stretch; */
}

.host button {
  padding: 1em;
}

#error {
  color: red;
}